<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    <title>Application Process</title>
</head>

<body>
    <h1>Links:</h1>
    <ul>
        <li><a class='link' href="/mentors"><h4>Mentors and School</h4></a></li>
        <li><a class='link' href="/all-school"><h4>All School</h4></a></li>
        <li><a class='link' href="/mentors-by-country"><h4>Mentors by Country</h4></a></li>
        <li><a class='link' href="/contacts"><h4>Contacts</h4></a></li>
        <li><a class='link' href="/applicants"><h4>Applicants</h4></a></li>
        <li><a class='link' href="/applicants-and-mentors"><h4>Applicants and Mentors</h4></a></li>
    </ul>    
</body>
</html>